NEXT_PUBLIC_SUPABASE_URL=https://voigsycmvsivmsuaghpx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvaWdzeWNtdnNpdm1zdWFnaHB4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxNzAyNTQsImV4cCI6MjA2MTc0NjI1NH0.iFQST1BMH_oFAFF9ySF3kAnlV0Vc2ctBfv0htVhF6SA
